.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}


.ground {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  height: 50px;
  background: linear-gradient(180deg, rgba(10,105,13,1) 8%, rgba(101,62,7,1) 65%);
}

.day {
  background: rgb(124, 219, 226);
}

.night {
  background: #1a1a1a;
}