.container {
  width: 300px;
  height: 480px;
  background: gray;

  padding: 1.5rem 3rem;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.buildingContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 45px 50px;
  grid-template-rows: repeat(6, 50px);
  gap: 15px 60px;
}

.door {
  height: 3.4rem;
  width: 5.5rem;

  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);

  background: #2c2c2c;
}

.door::after {
  content: "";
  height: 100%;
  width: 2px;

  position: absolute;
  right: 50%;
  transform: translateX(50%);

  background: black;
}