.container {
  width: 18rem;
  height: 30rem;
  background: gray;

  padding: 1.5rem 3rem;

  position: relative;
}

.buildingContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 3rem 3rem;
  grid-template-rows: repeat(6, 3rem);
  gap: 1rem 4rem;
}

.door {
  height: 3.4rem;
  width: 5.5rem;

  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);

  background: #2c2c2c;
}

.door::after {
  content: "";
  height: 100%;
  width: 2px;

  position: absolute;
  right: 50%;
  transform: translateX(50%);

  background: black;
}