.container {
  position: absolute;
  top: 8%;
  left: 10%;

  height: 3rem;
  width: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container button {
  height: 100%;
  width: 50%;

  font-size: 1rem;
  font-weight: bold ;
  color: rgb(228, 238, 233);

  background: rgb(16, 65, 224);

  transition: background .3s;

  outline: none;
}

.container button:hover {
  background: rgb(31, 81, 243);
}

.container button:first-child {
  border-radius: 4px 0 0 4px;
  
}

.container button:nth-child(2) {
  border-radius: 0 4px 4px 0;
}
